extends /master.pug

block content
    ol.breadcrumb
        li
            a(href="/") Home
        li.active
            | Admin

    div.page-header
        h1 Admin Panel

    div.row
        div.col-lg-8.col-lg-offset-2
            div.row
                div.col-lg-6
                    div.panel.panel-default
                        div.panel-body.text-center
                            p.lead Users
                            p.lead(style="font-size: 300%")
                                = stats.users_count
                            p
                                a(href="/users") View All
                div.col-lg-6
                    div.panel.panel-default
                        div.panel-body.text-center
                            p.lead Messages
                            p.lead(style="font-size: 300%")
                                = stats.messages_count
                            p
                                a(href="/messages") View All