{% extends 'master.html' %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Admin</li>
  </ol>

  <div class="page-header">
    <h1>Admin Panel</h1>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <p class="lead">Users</p>
              <p class="lead" style="font-size: 300%;">
                {{ stats.users_count }}
              </p>
              <p>
                <a href="/users">View All</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <p class="lead">Messages</p>
              <p class="lead" style="font-size: 300%;">
                {{ stats.messages_count }} 
              </p>
              <p>
                <a href="/messages">View All</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}
