extends master.pug

block content
    ol.breadcrumb
        li
            a(href="/") Home
        li.active
            | Login

    div.page-header
        h1 Login to your account

    div.row
        div.col-lg-6.col-lg-offset-3
            ul.nav.nav-tabs
                li.pull-right.active
                    a(href="/login") Login
                li.pull-right
                    a(href="/register") Register

            form(method="POST" action="/login")
                div.panel.panel-default(style="border-top: 0")
                    div.panel-body
                        div.form-group
                            label(for="uname-input")
                                | Username:
                            input#uname-input.form-control(
                                name="uname"
                                required
                                autofocus
                                value=(ctx.flash.params && ctx.flash.params.uname)
                            )
                        div.form-group
                            label(for="password-input")
                                | Password:
                            input#password-input.form-control(type="password" name="password" required)
                        div.form-group
                            label(for="remember-me-input")
                                input#remember-me-input(type="checkbox" name="remember-me" checked)
                                |
                                | Remember Me?

                        if config.RECAPTCHA_SYSTEM_ONLINE
                            div.g-recaptcha.recaptcha-center(data-sitekey=recaptchaSitekey data-callback="onRecaptchaSuccess")
                        else
                            div.alert.alert-warning.text-center
                                | Recaptcha unconfigured
                    div.panel-footer.text-right
                        button#login-submit.btn.btn-danger(type="submit" disabled) Submit


block scripts
    script.
        function onRecaptchaSuccess() {
            document.querySelector('#login-submit').disabled = false
        }

    script(src='https://www.google.com/recaptcha/api.js')