extends master.pug

block content
    include mixins/timeago.pug
    include mixins/render-message.pug
    include mixins/paginate.pug

    ol.breadcrumb
        li
            a(href="/") Home
        li.active
            | Messages

    div.page-header
        h1
            if cancan.isAdmin(ctx.currUser)
                form.pull-right(method="POST" action="/admin/messages/hidden")
                    input(type="hidden" name="_method" value="DELETE")
                    button.btn.btn-default(type="submit")
                        span.glyphicon.glyiphicon-trash
                        | Clear hidden messages
                | Messages
                |
                |
                small #{messagesCount} total

    +paginate(paginator)

    each message in messages
        +renderMessage(ctx, message)

    +paginate(paginator)
