{% extends 'master.html' %}
{% import 'macros.html' as macros %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Messages</li>
  </ol>

  <div class="page-header">
    <h1>
      Messages
      <small>
        {{ messagesCount }} total
      </small>
    </h1>
  </div>

  {{ macros.renderPaginator(paginator) }}

  {% for message in messages %}
    {{ macros.renderMessagePanel(ctx, message, '/messages') }}
  {% endfor %}

  {{ macros.renderPaginator(paginator) }}

{% endblock %}

{% block scripts %}
{% endblock %}
