{% extends 'master.html' %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Register</li>
  </ol>

  <div class="page-header">
    <h1>Create an account</h1>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">

      <ul class="nav nav-tabs">
        <li class="pull-right">
          <a href="/login">Login</a>
        </li>
        <li class="active pull-right">
          <a href="/register">Register</a>
        </li>
      </ul>

      <form action="/users" method="POST">
        <div class="panel panel-default" style="border-top: 0;">
          <div class="panel-body">
              <div class="form-group">
                <label for="uname-input">Username:</label>
                <input type="text" 
                       name="uname" 
                       id="uname-input"
                       class="form-control" 
                       required
                       value={{ ctx.flash.params.uname or '' }}
                >
                <div class="help-block">
                  <p class="pull-right" id="uname-counter">0/15</p>
                  Must be 3-15 chars long
                  <br>
                  Valid chars: 
                  <code>a-z</code>, <code>0-9</code>, underscore (<code>_</code>), hyphen (<code>-</code>)
                </div>
              </div>

              <div class="form-group">
                <label for="password1-input">Password:</label>
                <input type="password" name="password1" id="password1-input" class="form-control" required>
                <div class="help-block">
                  Must be at least 6 chars long
                </div>
              </div>

              <div class="form-group">
                <label for="password2-input">Confirm Password:</label>
                <input type="password" name="password2" id="password2-input" class="form-control" required>
              </div>

              <div class="form-group">
                <label for="remember-me-input">
                  <input type="checkbox" name="remember-me" id="remember-me-input" checked>
                  Remember Me?
                </label>
              </div>

              {% if config.RECAPTCHA_SYSTEM_ONLINE %}
                <div class="form-group">
                  <label>Human Test:</label>
                  <div class="g-recaptcha" data-sitekey="{{ recaptchaSitekey }}" data-callback="recaptchaSuccessCallback"></div>
                </div>
              {% else %}
                <div class="alert alert-warning text-center">
                  Recaptcha unconfigured
                </div>
              {% endif %}

          </div>
          <div class="panel-footer text-right">
            <button type="submit" class="btn btn-danger disabled but-clickable" id="login-submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $('#uname-input').focusEnd().counter('#uname-counter', 3, 15);

    function recaptchaSuccessCallback() {
      $('#login-submit')
        .removeClass('btn-danger')
        .removeClass('disabled')
        .addClass('btn-primary')
    }
  </script>

  <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
