extends master.pug

block content
    ol.breadcrumb
        li
            a(href="/") Home
        li.active
            | Register

    div.page-header
        h1 Create an account

    div.row
        div.col-lg-6.col-lg-offset-3
            ul.nav.nav-tabs
                li.pull-right
                    a(href="/login") Login
                li.pull-right.active
                    a(href="/register") Register
            form(method="POST" action="/users")
                div.panel.panel-default(style="border-top: 0")
                    div.panel-body
                        div.form-group
                            label(for="uname-input") Username:
                            input#uname-input.form-control(
                                name="uname"
                                required
                                autofocus
                                value=(ctx.flash.params && ctx.flash.params.uname)
                            )
                            div.help-block
                                p#uname-counter.pull-right 0/15
                                | Must be 3-15 chars long
                                br
                                | Valid chars:
                                | #[code a-z], #[code 0-9], underscore (#[code _]), hyphen (#[code -])
                        div.form-group
                            label(for="password1-input") Password:
                            input#password1-input.form-control(type="password" name="password1" required)
                            div.help-block Must be at least 6 chars long
                        div.form-group
                            label(for="password2-input") Confirm Password:
                            input#password2-input.form-control(type="password" name="password2" required)
                        div.form-group
                            label(for="remember-me-input")
                                input#remember-me-input(type="checkbox" name="remember-me" checked)
                                |
                                | Remember me?
                        if config.RECAPTCHA_SYSTEM_ONLINE
                            div.g-recaptcha.recaptcha-center(data-sitekey=recaptchaSitekey data-callback="onRecaptchaSuccess")
                        else
                            div.alert.alert-warning.text-center
                                | Recaptcha unconfigured
                    div.panel-footer.text-right
                        button#register-submit.btn.btn-danger(type="submit" disabled) Submit


block scripts
    script.
        function onRecaptchaSuccess() {
            document.querySelector('#register-submit').disabled = false
        }

    script.
        $('#uname-input').counter('#uname-counter', 3, 15)


    script(src='https://www.google.com/recaptcha/api.js')