{% extends 'master.html' %}
{% import 'macros.html' as macros %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li>
      <a href="{{ user.url }}">
        {{ user.uname }}
      </a>
    </li>
    <li class="active">Edit</li>
  </ol>

  <div class="page-header">
    <h1>
      Edit
      <a href="{{ user.url }}" style="color: #333;">
        {{ user.uname }}
      </a>
    </h1>

    <a href="{{ user.url }}">&larr; Back to Profile</a>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <form action="{{ user.url }}" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label for="email-input">Email</label>
              <input type="text" name="email" value="{{ user.email or '' }}" id="email-input" class="form-control">
            </div>
          </div>
          <div class="panel-footer text-right">
            <button type="submit" class="btn btn-default">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}
