{% extends 'master.html' %}
{% import 'macros.html' as macros %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li class="active">
      <a href="{{ user.url }}" style="color: inherit;">
        {{ user.uname }}
      </a>
    </li>
  </ol>

  <div class="page-header">

    <div class="media">
      <div class="media-left">
        <a href="{{ user.url }}">
          <img class="media-object thumbnail" src="{{ user.uname | toAvatarUrl }}" alt="{{ user.uname }} avatar" height="128" width="128">
        </a>
      </div>
      <div class="media-body">
        <h1>
          <a href="{{ user.url }}" style="color: #333;">{{ user.uname }}</a>
          <small>{{ user.role | capitalize }}</small>
          {% if can(ctx.currUser, 'UPDATE_USER_*', user) %}
            <a href="{{ user.url }}/edit" class="btn btn-xs btn-default">
              Edit
            </a>
          {% endif %}
        </h1>
        <ul>
          <li>
            Joined 
            <abbr class="timeago" title="{{ user.created_at.toISOString() }}">
              {{ user.created_at|formatDate }}
            </abbr>
          </li>
          <li>
            Last online
            <abbr class="timeago" title="{{ user.last_online_at.toISOString() }}">
              {{ user.last_online_at|formatDate }}
            </abbr>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <h2>
    {% if ctx.currUser.id == user.id %}
      Your
    {% else %}
      Their
    {% endif %}
    Recent Messages
  </h2>

  {% if messages.length == 0 %}
    No messages.
  {% endif %}

  {% for message in messages %}
    {{ macros.renderMessagePanel(ctx, message, user.url) }}
  {% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}
