/*

    Put general styles and Bootstrap overrides here

*/

body {
    font-size: 16px; /* Bootstrap default is 14px, too small */
    padding-bottom: 10px;
}

/* Centers the generated Recaptcha iframe within its container */
.recaptcha-center > div,
.recaptcha-center > div > div {
    margin: 0 auto;
}

.footer {
    font-size: 75%;
    margin-top: 200px; /* Provide a scroll gutter between content */
}

/* Pagination */

.paginator {
    text-align: center;
}

.pagination > li > span {
    color: #777;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.pagination > li > span:hover {
    color: #777;
    background-color: transparent;
}

abbr[data-original-title],
abbr[title] {
    /* Bootstrap gives abbr's an extraneous underline */
    border: 0;
}
