mixin paginate(paginator)
    if paginator
        style.
            .pagination > li > span {
                color: #777;
                border-top: 0;
                border-bottom: 0;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
            }
            .pagination > li > span:hover {
                color: #777;
                background-color: transparent;
            }
        nav.paginator(style="text-align: center")
            ul.pagination
                each pg in paginator
                    if pg.kind === 'BUTTON'
                        li(class=(pg.isActive && 'active'))
                            a(href=pg.href)
                                span(aria-hidden=true)
                                    = pg.text
                    else if pg.kind === 'SEPARATOR'
                        li.separator
                            span
                                | ...

